.button.button {
  border-radius: 0.7rem;
  background-color: #1769aa;
  padding: 0.7rem;
  font-size: 0.9rem;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 768px) {
  .button.button {
    padding: 0.5rem;
    font-size: 0.7rem;
  }
}
