.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cancelButton {
  margin-right: 10px;
}

.saveButton {
  background-color: #3494e3;
  color: white;
}

.saveButton:hover {
  background-color: #1769aa;
}
