.logoutButton {
  background-color: #e33434 !important;
  color: white !important;
  font-weight: bold !important;
  left: 1rem !important;
  position: absolute !important;
  bottom: 1rem !important;
}

.logoutButton:hover {
  background-color: #910d0d !important;
}
