.pagecontainer {
  margin-top: 1rem;
}

.viewerContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f2f2f2;
}

.metadataContainer {
  width: 40%;
  padding: 20px;
  overflow-y: auto;
  background-color: #f2f2f2 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.metadataTable {
  width: 100%;
  border-collapse: collapse;
}

.metadataTable th,
.metadataTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.metadataTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.metadataKey {
  font-weight: bold;
  background-color: #e9e9e9;
}

.pdfViewerContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.pdfDocument {
  width: 100%;
  height: 100%;
  border: none;
}

.nestedTable {
  width: 100%;
  border-collapse: collapse;
}

.nestedTable th,
.nestedTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.nestedTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
