.sideBar {
  width: 300px;
  padding: 20px;
}

.sideBarHeader {
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;
}

.newsCard {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.newsLink {
  font-weight: bold;
  color: #3494e3;
  text-decoration: none;
}

.newsLink:hover {
  text-decoration: underline;
}

.sideBarButton {
  margin-left: 0;
  background-color: #3494e3 !important;
  color: transparent !important;
  right: 1rem;
  box-shadow: inset;
  box-shadow: 4px 4px 4px 0px rgba(31, 31, 31, 0.2);
}

.sideBarButton:hover {
  background-color: #1769aa !important;
}

.iconImage {
  width: 2.25rem; /* Adjust size as needed */
  height: 2.25rem; /* Adjust size as needed */
}
