.TitleWebsite {
  font-size: 3rem;
  font-weight: 700;
  color: #f2f2f2;
  flex-grow: 1;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1769aa;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.Header:hover {
  box-shadow: 0 5px 10px 0 rgba(56, 56, 56, 0.2);
}

@media (max-width: 768px) {
  .TitleWebsite {
    font-size: 1em;
  }

  .Header {
    padding: 1.5px;
  }
}
